/* :root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
} */
/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #DBC9E2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  background-color: #1D1160;
  color: #E56020;
  padding: 10px 0;
  text-align: center;
}

.header-title {
  margin: 0;
  padding: 10px 0;
}

.header-subtitle {
  margin: 0;
  padding: 10px 0;
  margin: 0px 0 30px;

}

.nav-link {
  color: #f5f6f8;
  text-decoration: none;
  margin-right: 20px;
}

.nav-link:hover {
  text-decoration: underline;
}


.cardnav-link{
  text-decoration: none;
  display: block;
  padding: 5px;
  text-align: center;
}

.cardnav-link:hover {
  text-decoration: underline;
}

.breakline {
  border: 0;
  height: 1px;
  background: #f8f6f6;
  margin: 10px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  padding: 10;
  margin-right: 30px;
  margin-left: 0px;
}

.card {
  border: 2px solid #E56020;
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px;
  background-color: #ddd;
}

.card h2 {
  margin-top: 0;
  color: #000409;
  text-align: center;
}

.card p {
  margin: 10px 0;
}

.full-list-header {
  margin: 20px 0;
  padding: 0;
  text-align: center;
  color: #1D1160;
}

button {
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button[type="reset"] {
  background-color: #6c757d;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button[type="button"] {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.error-message {
  color: red;
}

.details-page {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;

}

.form{
  text-align: center;
  margin-top: 50px;
}